<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%tid] - %msg%n"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <springProperty name="LOG_DIR" scope="context" source="app.logdir"/>
    <springProperty name="APP_NAME" scope="context" source="app.id"/>
    <property name="HOST_NAME" value="${HOSTNAME}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender"/>

    <appender name="FEIGN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/current/${APP_NAME}/feign.${HOST_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd}/${APP_NAME}/feign.${HOST_NAME}.%d{yyyyMMdd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/current/${APP_NAME}/sql.${HOST_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd}/${APP_NAME}/sql.${HOST_NAME}.%d{yyyyMMdd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="OPENSEARCH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/current/${APP_NAME}/opensearch.${HOST_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd}/${APP_NAME}/opensearch.${HOST_NAME}.%d{yyyyMMdd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${LOG_DIR}/current/${APP_NAME}/error.${HOST_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd}/${APP_NAME}/error.${HOST_NAME}.%d{yyyyMMdd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <springProfile name="locale,test,yufa,online">
        <logger name="com.jindidata.user.redpacket.client" level="DEBUG" additivity="false">
            <appender-ref ref="FEIGN"/>
            <appender-ref ref="SENTRY"/>
            <appender-ref ref="FILE_ERROR"/>
        </logger>
        <logger name="org.mybatis" level="DEBUG" additivity="false">
            <appender-ref ref="SQL"/>
            <appender-ref ref="SENTRY"/>
            <appender-ref ref="FILE_ERROR"/>
        </logger>
        <logger name="com.jindidata.common.mapper.opensearch.OpensearchMapper" level="INFO" additivity="false">
            <appender-ref ref="OPENSEARCH"/>
            <appender-ref ref="SENTRY"/>
            <appender-ref ref="FILE_ERROR"/>
        </logger>
    </springProfile>

    <springProfile name="locale,test">
        <root level="INFO">
            <appender-ref ref="SENTRY"/>
            <appender-ref ref="FILE_ERROR"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="yufa,online">
        <root level="INFO">
            <appender-ref ref="SENTRY"/>
            <appender-ref ref="FILE_ERROR"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="com.jindidata.user.redpacket.mapper" level="DEBUG"></logger>


</configuration>